In [2]:
# Name: Rupsa Karak  PRN:25070123098
# Experiment 0

In [3]:
print("Rupsa Karak")

Rupsa Karak

In [4]:
print(2)
print(2.5)
print([1,2,5])
print("Rupsa")

2
2.5
[1, 2, 5]
Rupsa

In [6]:
print(2, 2.5, [1,2,5], "Rupsa", sep="\n")

2
2.5
[1, 2, 5]
Rupsa

In [7]:
x= 2
y = 2.5
z =[ 1,2,5]
a = "Rupsa"
print(x,y,z,a)

2 2.5 [1, 2, 5] Rupsa